{%  extends "HillCMSRnaMakerBundle:Default:bootstrap-template.html.twig" %}

{% block body %}
<div class="container">
	<div class="jumbotron" style="float:none">
       <h1>About</h1>
        {% for about in groups %}
            <h3>{{ about["Header"] }}</h3>
            <p>
            {{ about["Block"] }}</p>
        {% endfor %}
        
        Email us at <a href="mailto:administrator@carringtonlab.org?Subject=P-SAMS" target="_top">administrator@carringtonlab.org</a>
        </div>
	</div>	
</div>


{% endblock %}
