{%  extends "HillCMSRnaMakerBundle:Default:bootstrap-template.html.twig" %}

{% block body %}
<div class="container">
	<div class="jumbotron" style="float:none">
        <h1>Contact Us</h1>
        Email us at <a href="mailto:administrator@carringtonlab.org?Subject=P-SAMS" target="_top">administrator@carringtonlab.org</a>
        </div>
	</div>	
</div>


{% endblock %}
