{%  extends "HillCMSRnaMakerBundle:Default:bootstrap-template.html.twig" %}

{% block body %}
<div class="container">
	<div class="jumbotron" style="float:none">
            <h1>Downloads</h1>
            <a href='{{ asset("includes/downloads/Cloning_Protocol_022814_AC.pdf")}}'>Cloning Protocol</a>
        </div>
	</div>	
</div>


{% endblock %}
