.navbar-inverse { background-color: #777777}
.navbar-inverse .navbar-nav>.active>a:hover,.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus { background-color: #333}
.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.open>a,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus { background-color: #B17C0C}
.dropdown-menu { background-color: #FFF}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { background-color: #059649}
.navbar-inverse { border-color: #080808}
.navbar-inverse .navbar-brand { color: #FFF}
.navbar-inverse .navbar-brand:hover { color: #FFF}
.navbar-inverse .navbar-nav>li>a { color: #FFF}
.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus { color: #FFF}
.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus { color: #FFF}
.navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus { color: #FFF}
.dropdown-menu>li>a { color: #FFF}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { color: #FFF}
.navbar-inverse .navbar-nav>.dropdown>a .caret { border-top-color: #999999}
.navbar-inverse .navbar-nav>.dropdown>a:hover .caret { border-top-color: #FFF}
.navbar-inverse .navbar-nav>.dropdown>a .caret { border-bottom-color: #999999}
.navbar-inverse .navbar-nav>.dropdown>a:hover .caret { border-bottom-color: #FFF}

.btn-secondary{
    background-color: #7CB02C;
}

.btn-tertiary{
    background-color: #357646;
}

.btn-quartenary{
    background-color: #482A83;
}

