.btn-secondary{
    background-color: #b67a60;
}

.btn-tertiary{
    background-color: #348a9d;
}

.btn-quartenary{
    background-color: #9460b6;
}
.syntasi{
    background-color: #428bca;
    background-color: #64CF80;
    background-color: #60A6B6;
}

#logo{
    font-weight: 700;
    font-size: 25px;
    float: left;
    color: #FFF;
}

#logo-assist{
    font-weight: 100;
    font-size: 25px;
    color: #64DF85;
    color: #00039e;
    float: left;
}

.results{
    font-size: 14px;
    overflow: auto;
    background-color: #ddd;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 30px;
    font-family: courier;
}

